# Environment
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
artifacts/
cache/
typechain/
typechain-types/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
